@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root {
  --primaryColor: #fff;
  --navColor1: #2c8437;
  --navColor2: #aa3e39;
  --navColor3: #aa6e39;
  --navColor4: #21292c;
  --navColor5: #0080ff;

  --navColor1L: rgba(40, 180, 131, 0.8);
  --navColor2L: rgba(170, 63, 57, 0.8);
  --navColor3L: rgba(170, 110, 57, 0.8);
  --navColor4L: rgba(33, 41, 44, 0.8);
  --navColor5L: rgba(0, 128, 255, 0.8);
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: var(--primaryColor);

}

h1 {
  margin: 0;
}

/* --- Navigation Menu ------------------------------ */
.overlay {
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  transform: translateX(-100vw);
}

.overlay-slide-right {
  transition: all 0.4s ease-in-out;
  transform: translateX(0);
}

.overlay-slide-left {
  transition: all 0.8s ease-in-out;
  transform: translateX(-100vw);
}

/* Nav Menu Items */
nav, 
nav ul {
  color: white;
  height: 100vh;
  width: 100vw;
  margin: 0; 
  padding: 0; 
}

nav ul {
  display: flex;
  flex-direction: column;
  justify-content: stretch; 
  list-style: none;
}

nav ul li {
  font-family: "Lato", sans-serif;
  height: 20%;
}

nav li a {
  position: relative;
  top: 45%;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
  display: block;
  text-align: center;
}

nav li a:hover {
  transform: scale(1.2);
}

nav li a::before {
  content: "";
  width: 25vw;
  height: 3px;
  background-color: #fff;
  position: absolute;
  left: 0;
  opacity: 0;
}

nav li a:hover::before {
  opacity: 1;
}

nav li:nth-of-type(1) {
  background-color: var(--navColor1L);
}

nav li:nth-of-type(2) {
  background-color: var(--navColor2L);
}

nav li:nth-of-type(3) {
  background-color: var(--navColor3L);
}

nav li:nth-of-type(4) {
  background-color: var(--navColor4L);
}

nav li:nth-of-type(5) {
  background-color: var(--navColor5L);
}

/* Slide in animation with delay for each nav item */

.slide-in-1 {
  animation: slide-in 0.4s linear 0.2s both;
}

.slide-in-2 {
  animation: slide-in 0.4s linear 0.4s both;
}

.slide-in-3 {
  animation: slide-in 0.4s linear 0.6s both;
}

.slide-in-4 {
  animation: slide-in 0.4s linear 0.8s both;
}

.slide-in-5 {
  animation: slide-in 0.4s linear 1s both;
}

@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

/* Slide out animation with delay for each nav item */
.slide-out-1 {
  animation: slide-out 0.3s linear 0.5s both;
}

.slide-out-2 {
  animation: slide-out 0.3s linear 0.4s both;
}

.slide-out-3 {
  animation: slide-out 0.3s linear 0.3s both;
}

.slide-out-4 {
  animation: slide-out 0.3s linear 0.2s both;
}

.slide-out-5 {
  animation: slide-out 0.3s linear 0.1s both;
}

@keyframes slide-out {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

/* --- Menu Bars ------------------------------------ */
.menu-bars {
  position: fixed;
  top: 1rem;
  right: 2rem;
  z-index: 10;
  display: inline;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 2px;
  background-color: #fff;
  margin: 8px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  transform: rotate(-45deg) translate(-7px, 8px);
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  transform: rotate(45deg) translate(-6px, -8px);
}


/* --- Sections ------------------------------------ */
section {
  width: 100%;
  height: 100vh;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--primaryColor);
}

section#home {
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.6), rgba(40, 180, 131, 0.4)), url("img/coding.jpg");
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Adding text, links, and button to the home section */
.portfolio-link {
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 0.75rem;
  color: var(--primaryColor);
  font-family: "Lato", sans-serif;
  text-decoration: none;
  border-bottom: solid 2px var(--primaryColor);
}

.header {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Lato", sans-serif;
}

/* Title */
.heading-main {
  display: block;
  font-size: 50px;
  line-height: 100px;
  font-weight: 400px;
  letter-spacing: 5px;
  animation-name: moveInRight;
  animation-duration: 2s;
  text-align: center;
}

.heading-secondary {
  display: block;
  font-size: 20px;
  font-weight: 900;
  letter-spacing: 11px;
  animation-name: moveInLeft;
  animation-duration: 2s;
  text-align: center;
}

/* Button */
.text-box {
  margin-top: 30vh; 
}

.btn {
  font-family: "Lato", sans-serif;
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px; 
  display: inline-block; 
  border-radius: 100px;
  transition: all .2s;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
  background-color: #fff;
  color: #777;
  margin: auto;
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
}

.btn-white::after {
  background-color: #fff;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn-animated {
  animation: moveInBottom 5s ease-out;
  animation-fill-mode: backwards;
}

@keyframes moveInBottom {
  0% {
      opacity: 0;
      transform: translateY(30px);
  }

  100% {
      opacity: 1;
      transform: translateY(0px);
  }
}

section#skills {
  background-color: var(--navColor3); 
}

section#projects {
  background-color: var(--navColor4);
}

section#contact {
  background-color: var(--navColor5);
}

/* Animation for title */
@keyframes moveInRight{
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    opacity: 0.8;
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInLeft{
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  80% {
    opacity: 0.8;
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Media Query: Large Smartphone (Vertical) */
@media (max-width: 600px) {
  section#home a {
    top: 1rem;
    left: 1rem;
  }

  .menu-bars {
    top: 0.5rem;
    right: 1rem;
  }
}

/* About me page */
section#about {
  background-color: var(--navColor2);
  height: 75vh;
}

section#about h1 {
  font-family: "Lato", sans-serif;
  position: relative;
  top: 20px;
  left: 10px; 
  font-weight: 900px;
  font-size: 30px;
  line-height: 100px;
  letter-spacing: 5px;
}

.icon {
  background-color: white;
  border: solid black 2px;
}

/* Skills page */
section#skills {
  font-family: "Lato", sans-serif;
  height: 75vh;
}

section#skills h1 {
  position: relative;
  letter-spacing: 5px;
  font-size: 30px;
  line-height: 100px;
  font-weight: 900px;
  left: 10px; 
}

.skill-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skill {
  text-align: center;
  margin: 25px 20px;
}